body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/070/922/original/globe.jpg?1678517086)
    no-repeat center;
  background-color: rgb(228, 255, 230);
  background-size: cover;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
}

a.logo:link {
  text-decoration: none;
}

a.logo:visited {
  color: inherit;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 60px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  border-radius: 10px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
